<div class="lower-ambient" aria-hidden="true">
  <span class="lower-ambient-orb lower-ambient-orb--1"></span>
  <span class="lower-ambient-orb lower-ambient-orb--2"></span>
  <span class="lower-ambient-orb lower-ambient-orb--3"></span>
  <span class="lower-ambient-line"></span>
</div>
